	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/07/2021 10:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../home-four-fonts/Flaticon.eot");
  src: url("../home-four-fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../home-four-fonts/Flaticon.woff2") format("woff2"),
       url("../home-four-fonts/Flaticon.woff") format("woff"),
       url("../home-four-fonts/Flaticon.ttf") format("truetype"),
       url("../home-four-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../home-four-fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
    font-style: normal;
}

.flaticon-facebook-logo:before { content: "\f100"; }
.flaticon-twitter-logo-silhouette:before { content: "\f101"; }
.flaticon-google-plus-symbol:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-pinterest-logo:before { content: "\f104"; }
.flaticon-wifi:before { content: "\f105"; }
.flaticon-address:before { content: "\f106"; }
.flaticon-call-answer:before { content: "\f107"; }
.flaticon-circle:before { content: "\f108"; }
.flaticon-membership:before { content: "\f109"; }
.flaticon-chat:before { content: "\f10a"; }
.flaticon-stethoscope:before { content: "\f10b"; }
.flaticon-nurse:before { content: "\f10c"; }
.flaticon-puppy:before { content: "\f10d"; }
.flaticon-home:before { content: "\f10e"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f10f"; }
.flaticon-arrow-point-to-right:before { content: "\f110"; }
.flaticon-last-track-left-arrow:before { content: "\f111"; }
.flaticon-add-plus-button:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-heart:before { content: "\f114"; }
.flaticon-leaf:before { content: "\f115"; }
.flaticon-graph:before { content: "\f116"; }
.flaticon-quotation-marks:before { content: "\f117"; }
.flaticon-right-arrow:before { content: "\f118"; }
.flaticon-left-arrow:before { content: "\f119"; }
.flaticon-calendar:before { content: "\f11a"; }
.flaticon-clock:before { content: "\f11b"; }
.flaticon-diamond:before { content: "\f11c"; }
.flaticon-plane:before { content: "\f11d"; }
.flaticon-rocker:before { content: "\f11e"; }